@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');

/* Body 요소에 Wanted Sans Variable 폰트를 적용합니다. */
body {
  font-family: 'Wanted Sans Variable', sans-serif;
}
// input type='number'할때 오른쪽에 생기는 화살표 제거
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
  }
}

@font-face {
  font-family: 'wanted';
  src: url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
  font-weight: 400;
  font-style: normal;
}
*,
body,
pre {
  font-family: 'wanted', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
.custom-slider .slick-slide {
  transition: transform 0.3s ease;
}

.custom-slider .slick-center {
  transform: scale(1.08); /* 가운데 위치한 탭을 확대 */
}
