@tailwind base;
@tailwind components;
@tailwind utilities;

// input type='number'할때 오른쪽에 생기는 화살표 제거
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
*,
body,
pre {
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
.custom-slider .slick-slide {
  transition: transform 0.3s ease;
}
.custom-height {
  height: calc(100% - 52px);
}
@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.toast.vibrate {
  animation: vibrate 0.3s ease-in-out;
}
