@tailwind base;
@tailwind components;
@tailwind utilities;
// input type='number'할때 오른쪽에 생기는 화살표 제거
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
  }
}
